<div class="row" style="margin-bottom:50px;">
  <div class="col-md-12">
    <div ng-include src="'views/partials/topbar.html'" ng-controller="NavigationCtrl"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div ng-include src="'views/partials/messages.html'" ng-controller="MessagesCtrl"></div>
  </div>
</div>
<div class="row">  
  <div class="col-md-12">
    <h3>Message from server: {{message}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>My Posts</h2>
    <ul>
      <li ng-repeat="post in posts">{{post.title}}</li>
    </ul>
  </div>
</div>
